body{
	padding-top: 0px;
	text-align: center;
	
}

.principal{

	padding: 40px 15px;
	text-align: center;
	

}

p{
	text-align: center;
}
 
button{
	
}

div p{ text-align: center;
	
}

h1{
	color: red;
}

body nav div {
	background-color: black;
	padding: 10px;


}

.alinhar{

	color: red;

}




